<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <style>
        .done span { text-decoration: line-through; }
        ul { list-style-type: none; padding: 0; }
        li { cursor: pointer; margin-bottom: 5px; }
    </style>
</head>
<body>
    <h1>Todo List</h1>
    <div id="todo-list" hx-get="/todos" hx-trigger="load">
    </div>
</body>
</html>